<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Manage: User</title>
        <style>
            ul {list-style-type: none;}
        </style>
        <link href="site.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="../static/assets/icons/icons8-button7-64.png" type="image/png" />
    </head>

    <body>

        <section id="page">       
            <nav><%- navi %></nav>
            <header>Manage User</header>
            <main> Edit/Update single user.</main>
        </section>

        <link rel="stylesheet" href="site.css" type="text/css"/>
        <script src="site.js"></script>

    </body>
</html>
