<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Manage: Artifacts</title>
        <link href="site.css" rel="stylesheet" type="text/css" />
    </head>

    <body>

    </body>

</html>