<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, inital-scale=1">
        <title>Context Textiles</title>
        <link rel="stylesheet" href="site.css" type="text/css"/>
        <link rel="icon" href="../static/assets/icons/icons8-button7-64.png" type="image/png"/>
    </head>
    <body class="body-homepage">
        <h3>Context</h3>
        <% navigation-top %>
        <%- navigation-side %>
        <h2>Testing</h2>
        <div id="main-container"></div>
        <link rel="stylesheet" href="site.css" type="text/css"/>
        <script src="site.js"></script>
    </body>
</html>

<!-- TODO -->