<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <link href="site.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="../static/assets/icons/icons8-button7-64.png" type="image/png" />
    </head>

    <body>
        <h2>Login</h2>
        <%- navi %>
        <div id="main-container"></div>
        <link rel="stylesheet" href="site.css" type="text/css"/>
        <script src="site.js"></script>

        <!-- <div class="login-container"> -->

        </div>
    </body>

</html>