<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Create: Artifact</title>
        <link href="site.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="../static/assets/icons/icons8-button7-64.png" type="image/png" />
    </head>

    <body>

    </body>

</html>

<!-- TODO -->

