<nav>
    <div>
        <h1 align="center">Navi Top</h1>
        <h2 align="center">More like a banner though, isn't it?</h2>
        <h3 align="left">Page Title?</h3>
        <h3 align="right">Search Feature Here Instead?</h3>
    </div>
</nav>
