<script src="https://kit.fontawesome.com/af2df2eec8.js" crossorigin="anonymous">
<nav class="side-navi">
    <ul class="side-menu fa">
        <li>
            <div class="menu-icon"><i class="fa-duotone fa-right-to-bracket"></i></div>
            <div class="menu-text">Login</div>
        </li>
        <li>
            <div class="menu-icon"><i class="fa-duotone fa-circle-user"></i></div>
            <div class="menu-text">UserHandleHere</div>
        </li>
        <li>
            <div class="menu-icon"><i class="fa-duotone fa-house"></i></div>
            <div class="menu-text">Home</div>
        </li>
        <li>
            <div class="menu-icon"><i class="fa-duotone fa-user-shield"></i></div>
            <div class="menu-text">Admin</div>
        </li>
        <li>
            <div class="menu-icon"><i class="fa-duotone fa-magnifying-glass"></i></div>
            <div class="menu-text">Search</div>
        </li>
        <li>
            <div class="menu-icon"><i class="fa-duotone fa-images"></i></div>
            <div class="menu-text">Galleries</div>
        </li>
        <li>
            <div class="menu-icon"><i class="fa-solid fa-heart"></i></div>
            <div class="menu-text">Favorites</div>
        </li>
        <li>
            <div class="menu-icon"><i class="fa-duotone fa-right-from-bracket"></i></div>
            <div class="menu-text">Logout</div>
        </li>
    </ul>
</nav>
</script>