<nav class="side-navi">
    <ul class="side-menu">
        <li>
            <div class="menu-icon"></div>
            <div class="menu-text">Login</div>
        </li>
        <li>
            <div class="menu-icon"></div>
            <div class="menu-text">[UserHandleHere]</div>
        </li>
        <li>
            <div class="menu-icon"></div>
            <div class="menu-text">Home</div>
        </li>
        <li>
            <div class="menu-icon"></div>
            <div class="menu-text">Admin</div>
        </li>
        <li>
            <div class="menu-icon"></div>
            <div class="menu-text">Galleries</div>
        </li>
        <li>
            <div class="menu-icon"></div>
            <div class="menu-text">Favorites</div>
        </li>
        <li>
            <div class="menu-icon"></div>
            <div class="menu-text">Logout</div>
        </li>
    </ul>
</nav>