/******************************************** 
 *  home.css                                *
 *                                          *
 *  Capstone Project:  "Context Textiles"   *
 *  Author: Amanda Dreesen                  *
 *          Kansas State University         *
 *          College of Engineering          *
 *          Computer Science                *
 ********************************************/


body {
    margin: 0 auto 0 auto;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: larger;
    background-image: url("./assets/backgrounds/pexels-agnese-lunecka-6561508.png");
    background-size: cover;
    background-attachment:local;
    opacity: .9;

}

a {
    color: black;
    text-decoration: none;
}

.ul {
    list-style-type: none;
}

.navi-banner {
    background-color: blueviolet;
    opacity: .4;
}

.navi-container {
    background-color: rgb(134, 133, 131);
    opacity: .9;
    width: 100px;
    height: 100vh;
    display: grid ;
    grid-template-columns: repeat(4, 0);
    list-style-type: none;
}

.navi-container .menu-text {
    font-size: larger;
    visibility: hidden;
    width: 200px;
    text-decoration: none;
    opacity:0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
    transition: width 0.5s ease; 
}

.navi-container:hover{
    transition: width 0.7s ease; 
    width: 250px;
    cursor: pointer;
}

.navi-container:hover .menu-text {
    visibility: visible;
    opacity: 1;
}

#new-account-form .div {
    display:inline-flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
}


.side-nav {
    display: flex;
}

.li > .a {
    display: flex;
    align-items: justify;
}  

.a >.div {
    text-align: justify;
}



#login-container {
    margin-top: 50px;
    margin-left: 320px;
    text-align: center;
}

#new-account-container {
    margin-top: 50px;
    margin-left: 320px;
    text-align: center; 
}

.navi-attribute {
    display:inline-flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
}

.navi-icon {
    max-width: 25px;
    max-height: 25px;
}




@media (max-width: 1050px){

}

@media (max-width: 850px){

}

@media (max-width: 550px){
    
}



#page {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
        "navi head head head"
        "navi main main main"
        "navi main main main"
        "navi main main main"
        "navi main main main";
}

#page > nav {
    grid-area: navi;
}

#page > header {
    grid-area: head;
}

#page > main {
    grid-area: main;
}